[Unit]
Description=PLUTO captive portal DHCP and DNS
After=pluto-ap-network.service
Requires=pluto-ap-network.service

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/etc/pluto/dnsmasq.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
